table {
  margin-top: 2rem;
}

.product-form {
  margin-top: 2rem;
}

.product-btn {
  display: flex;
  align-items: end;
}

.input-disabled[disabled] {
  background: none;
  border: none;
}

